* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/9602.jpg'); */
}
div{
    border:0    px solid black;
}

.mainContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
}
.scoreBar{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.gameBoard{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    height: 450px;
    width:100%
}
.allCards{
    display: flex;
    justify-content: start;
    align-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    
       width:75%;
       height: 100%;
   }
   .randomCard{
       width: 175px;
       height: 250px;
       border: 2px solid black;
   }
   .flashCardContainer {
    position: relative;
    width: 150px;
       height: 200px;
    perspective: 1000px;
    margin-top: 80px;
    margin:10px
}

.cardContainer {
    position: absolute;
    width: 150px;
    height: 200px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

   

.cardFrontSide, 
.cardBackSide {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(to bottom right, #A7ACD9,white);
    border: 2px solid #505050;
    /* border-radius: 40px; */
    padding: 20px ;
}

.cardBackSide {
    background: linear-gradient(to bottom right,#93C6D6,white);
    color: black;
    transform: rotateY(180deg);
}

.cardBackSide{
    /* background-image: url('images/Q.png'); */
    background-size: contain; 
    
}

.flashCardContainer:hover
.cardContainer {
    transform: rotateY(-180deg);
}
.cardFrontSide{
    background-image: url('https://i.pinimg.com/736x/6c/a0/16/6ca016115a894f69dea75cc80f95ad92.jpg');
    background-size: contain; 
}
.randomCard{
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.h1Flip{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}   
.scoreCount,
.startButton,
.liveCount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%
}
.btnNewGame{
    border: 1px solid black;
    background: linear-gradient(to bottom right,#505050,black);
    
    color: orange;
    padding:10px;
    border-radius:40px;
}
.btnNewGame:hover{
    cursor:pointer;
    background: linear-gradient(to bottom right,black,#505055);
    color: white;
}
.scoreBar{
    border:0;
    background: linear-gradient(to bottom right,#505050,white);;;
}

.footerContainer{
    width:100%;
    height: auto;
}
.copyRights{
    display: flex;
    justify-content: center;
    align-items: end;
    color: #505050;
    font-weight: bold;
    font-size: 11;
    font-family: 'Courier New', Courier, monospace;
}